@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: #7e7e7e;
  transition: .1s;
  color:#7e7e7e
}

a:hover, a:active {
  text-decoration-color: #000;
  color: #000;
}

a.dark {
  text-decoration: solid;
  text-decoration: underline;
  text-underline-offset: 1px;
  color: #a7a7a7;
  text-decoration-color: #a7a7a760;
  /* text-decoration-color: #a9a9a9; */
  transition: .1s;
  cursor: pointer;
}

a.dark:hover, a.dark:active {
  color:white;
  text-decoration-color: white;
}

.container{
  max-width: 95%;
  margin: 0px auto;
}

.container-fg{
  margin: 0px auto;
  max-width: 95%;
}

.container-blog{
  max-width: 90%;
  margin: 0px auto;
}

.credit{
  font-size: medium;
  letter-spacing: -.01em;
  width: 100%;
  padding: .5rem 0px;
}

.credit h4{
  font-weight: 400;
  font-size: small;
  text-transform: uppercase;
  color: #858585;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.display{
  /* text-transform:; */
  font-size: calc(80px + 3vw);
  border: 1px solid red;
}

.article-container {
  font-family: neue;
}

.breadcrumbs{
  display: flex;
  font: bolder;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.breadcrumbs li{
  margin-left: 1em;
  letter-spacing: .1em;
  text-transform: uppercase ;
  font-size: .8em;
  font-weight: 400;
}

.breadcrumbs li:first-child {
  margin-left: 0px;
  color: #000;
}

.breadcrumbs li:last-child a {
  text-decoration: none;
  transform: none;
  cursor: inherit;
  color: #9e9e9e;
}


.bread-crumb a:active {
  text-decoration: none;
}

.active-crumb{
  text-decoration: none;
  font: 900;
}

._2jvtI{
  display: flex;
  font: bold;
}

._2jvtI:last-child{
  text-decoration: none;
}

.home {
  background-image: url('/clouds.gif');
}

.bc{
  display: flex;
  justify-content: space-between;
  width: auto;
  font-family: 'HelveticaNeue-Light';
  font-weight: lighter;
  font-size: larger;
}

.bcM{
  display: flex;
  justify-content: space-between;
  width: auto;
  font-family: 'HelveticaNeue-Light';
  font-weight: lighter;
  font-size: 5em;
  text-decoration: none;
  text-transform: capitalize;
}

.bc li{
  margin-left: 0em;
  letter-spacing: .1em;
  font-size: 1.25em;
  letter-spacing: 0em;
  font-weight: 400;
}

.bcM li{
  margin-left: 0em;
  letter-spacing: .1em;
  font-size: 1.25em;
  letter-spacing: 0em;
  font-weight: 400;
  text-decoration: none;
}

/* .bc li:first-child {
  margin-left: 0px;
  color: #000;
  display: none;
} */

.bc li:last-child a {
  text-decoration: none;
  transform: none;
  cursor: inherit;
  color: #777777;
}
.bcM li:last-child a {
  text-decoration: none;
  transform: none;
  cursor: inherit;
  line-height: 0px;
  /* display: flex; */
  padding-bottom: 16px;
}


.bread-crumb a:active {
  text-decoration: none;
}


.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
  
}

@media (min-width: 640px){
  .container{
    max-width: 95%;
  }
  .container-fg{
    max-width: 95%;
  }
  .container-blog{
    max-width: 95%;
    width: 672px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 872px;
    /* max-width: 95%; */
  }
  .container-fg{
    /* max-width: 872px; */
    max-width: 98%;
  }
  /* .container-blog{
    margin:0 24px auto;
  } */
}

@media (min-width: 1280px){
  
}


/* Explicit styles */

/* content{
  background-color:red;
} */